<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Replicated Form</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet" />
    <link href="../static/style.css" rel="stylesheet" />
    <script defer src="static/script.js"></script>
</head>

<body>


    <main class="d-flex flex-column container mt-5 p-2 ps-5 pe-5 bg-white font-weight-bold border">
        <div class="toggleContainer d-flex align-items-center gap-1">
            <img src="static/images/nepal.png" alt="" id="languageImage" height="15" width="10">
            <div class="language-switch">
                <input type="checkbox" id="language-toggle">
                <label for="language-toggle">
                    <span class="language-label">en</span>
                    <span class="language-label">np</span>
                </label>
            </div>
        </div>

        <form action="{% url 'submit_membership' %}" method="POST" id="membership_form" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <div style="margin-left: auto; width: 150px; height: 200px; border: 1px solid black;">
                    <label for="photo" class="d-flex align-items-center justify-content-center"
                        style="height: 100%; width: 100%; cursor: pointer;">
                        <div id="imagePreview"
                            style="width: 100%; height: 100%; background-size: cover; background-position: center;display: flex;justify-content: center;align-items: center;">
                            <span id="photo_label">photo</span>
                        </div>
                    </label>
                    <!-- Actual file input -->
                    <input type="file" style="visibility: hidden;" class="form-control" id="photo" accept="image/*"
                        onchange="displayPreview(event)" name="photo">
                </div>
            </div>


            <h1 class="text-center mb-4" id="english-label-h1" style="text-decoration: underline; display: none;" >Active
                Membership Form New / Renewal</h1>
            <h1 class="text-center mb-4" id="nepali-label-h1" style="text-decoration: underline; "> सक्रिय
                सदस्यतासक्रिय सदस्यता फारम </h1>

            <span class="english-label" style="display: none;" style="font-weight: bold !important;">Mr. President,</span>
            <span class="nepali-label" style="font-weight: bold;">अध्यक्ष ज्यू,</span>
            <p style="text-indent: 40px;">
                <span class="english-label" style="display: none;"> Committed to nationhood, nationalism, democracy, liberalism and
                    liberalism Section 6 of the constitution of the party
                    According to the new</span>
                <span class="nepali-label" >राष्ट्रियता, प्रजातन्त्र, उदारवार र सम्बर्धनवाद
                    प्रति
                    प्रतिबद्ध
                    रही पार्टीको विधानको धारा ६
                    बमोजिम नयाँ </span>
                <input type="radio" id="is_new" value="is_new" name="membership_type">
                <span class="english-label" style="display: none;"> / renewal </span>
                <span class="nepali-label" >/ नवीकरण </span>
                <input type="radio" id="is_renew" value="is_renew" name="membership_type">
                <span class="english-label" style="display: none;">One year of active membership
                    The fee charged is Rs. 150/- (one hundred and fifty)</span>
                <span class="nepali-label" >
                    सक्रिय सदस्यता एक वर्षको
                    शुल्क वापत लाग्ने रकम रु. १५०/- (एक सय पचास)</span>
                <input type="radio" id="is_oneyear" value="is_oneyear" name="membership_duration">
                <span class="english-label" style="display: none;"> Or four years old
                    A lump sum fee of Rs. 500/- (Five Hundred) </span>
                <span class="nepali-label" > चार
                    वर्षको
                    एकमुष्ट शुल्क वापत रू. ५००/- (पाँच सय) </span>
                <input type="radio" id="is_fouryears" value="is_fouryears" name="membership_duration">
                <span class="english-label" style="display: none;"> including the cash receipt Engaged and active
                    I respectfully request for membership approval.</span>
                <span class="nepali-label" > नगदी रसिदसमेत
                    संलग्न गरी सक्रिय
                    सदस्यता स्वीकृतिको लागि सादर निवेदन गर्दछु</span>
            </p>

            <!-- kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk -->
            <!-- llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll -->

            <div class="form-group">
                <label class="english-label" style="display: none;"   style="display: none;" for="name">1. Name :</label>
                <label class="nepali-label" for="name">१. नामः</label>
                <input type="text" class="form-control" id="name" name="name" required>

                <label class="english-label" style="display: none;" for="birth_date">Date of birth :</label>
                <label class="nepali-label"  for="birth_date">जन्म मिति :</label>
                <input type="date" class="form-control" id="birth_date" name="birth_date" required>

                <label class="english-label" style="display: none;" for="gender">Gender :</label>
                <label class="nepali-label" for="gender">लिङ्ग :</label>
                <select class="form-control" id="gender" name="gender">
                    <option value="male">Male / पुरुष</option>
                    <option value="female">Female / महिला</option>
                    <option value="other">Other / अन्य</option>
                </select>

                <label class="nepali-label" for="reg_number">नागरिकता नम्बर :</label>
                <label class="english-label" style="display: none;" for="citizenship_number">Citizenship No.:</label>
                <input type="number" class="form-control" id="citizenship_number" name="citizenship_number">
            </div>

            <!-- voter_id, phone, email  -->
            <div class="form-group">
                <label class="english-label" style="display: none;" for="voter_id">2. Voter ID Card No.:</label>
                <label class="nepali-label" for="voter_id">२. मतदाता परिचय पत्र
                    नं.:</label>
                <input type="number" class="form-control" id="voter_id" name="voter_id">

                <label class="english-label" style="display: none;" for="phone">Contact no.</label>
                <label class="nepali-label" for="phone">सम्पर्क नं.</label>
                <input type="number" class="form-control" id="phone" name="phone">

                <label class="english-label" style="display: none;"  for="email">Email:</label>
                <label class="nepali-label" for="email">इमेल:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label class="english-label" style="display: none;" for="perm_province">3. Permanent Address : Name of State :</label>
                <label class="nepali-label" for="perm_province">३. स्थायी ठेगाना : प्रदेशको नाम: </label>
                <input type="text" class="form-control" id="perm_province" name="perm_province">

                <label class="english-label" style="display: none;" for="perm_district">District :</label>
                <label class="nepali-label" for="perm_district">जिल्ला :</label>
                <input type="text" class="form-control" id="perm_district" name="perm_district">

                <label class="english-label" style="display: none;"  for="perm_constituency">Parliamentary Constituency No.:</label>
                <label class="nepali-label" for="perm_constituency">संसदीय निर्वाचन
                    क्षेत्र नं.
                    :</label>
                <input type="text" class="form-control" id="perm_constituency" name="perm_constituency"><br>
            </div>

            <div class="form-group">
                <label class="english-label" style="display: none;" for="perm_constituencyB">State Assembly Constituency No.:</label>
                <label class="nepali-label" for="perm_constituencyB">प्रदेशसभा निर्वाचन
                    क्षेत्र
                    नं. :</label>
                <input type="text" class="form-control" id="perm_constituencyB" name="perm_constituencyB">

                <label class="english-label" style="display: none;" for="perm_palika">N. Pa. / Ga. Pa.:</label>
                <label class="nepali-label"  for="perm_palika">न.पा./ गा.पा. :</label>
                <input type="text" class="form-control" id="perm_palika" name="perm_palika">

                <label class="english-label" style="display: none;"  for="perm_wardno">Ward no.:</label>
                <label class="nepali-label"for="perm_wardno">वडा नं. :</label>
                <input type="number" class="form-control" id="perm_wardno" name="perm_wardno">

                <label class="english-label" style="display: none;" for="perm_voting_center">Polling Station :</label>
                <label class="nepali-label"  for="perm_voting_center">मतदान केन्द्र
                    :</label>
                <input type="text" class="form-control" id="perm_voting_center" name="perm_voting_center">
            </div>

            <div class="form-group">
                <label class="english-label" style="display: none;" for="current_province">4. Present Address : Name of State :
                </label>
                <label class="nepali-label" for="current_province">४. हालको ठेगाना :
                    प्रदेशको नाम
                    : </label>
                <input type="text" class="form-control" id="current_province" name="current_province">

                <label class="english-label" style="display: none;" for="current_district">District :</label>
                <label class="nepali-label" for="current_district">जिल्ला :</label>
                <input type="text" class="form-control" id="current_district" name="current_district">

                <label class="english-label" style="display: none;" for="current_constituency">Parliamentary Constituency No. :
                </label>
                <label class="nepali-label" for="current_constituency">संसदीय निर्वाचन
                    क्षेत्र
                    नं. :</label>
                <input type="text" class="form-control" id="current_constituency" name="current_constituency">
            </div>

            <div class="form-group">
                <label class="english-label" style="display: none;" for="current_constituencyB">State Assembly Constituency
                    No.:</label>
                <label class="nepali-label" for="current_constituencyB">प्रदेशसभा
                    निर्वाचन
                    क्षेत्र नं. :</label>
                <input type="text" class="form-control" id="current_constituencyB" name="current_constituencyB">

                <label class="english-label" style="display: none;" for="current_palika">N. Pa. / Ga. Pa.:</label>
                <label class="nepali-label" for="current_palika">न.पा./ गा.पा. :</label>
                <input type="text" class="form-control" id="current_palika" name="current_palika">

                <label class="english-label" style="display: none;" for="current_wardno">Ward no.:</label>
                <label class="nepali-label" for="current_wardno">वडा नं. :</label>
                <input type="number" class="form-control" id="current_wardno" name="current_wardno">

                <label class="english-label" style="display: none;" for="current_voting_center">Polling Station :</label>
                <label class="nepali-label" for="current_voting_center">मतदान केन्द्र
                    :</label>
                <input type="text" class="form-control" id="current_voting_center" name="current_voting_center">
            </div>

            <div class="form-group">
                <label class="english-label" style="display: none;" for="father_mother_name">5. Father's/Mother's Name :</label>
                <label class="nepali-label" for="father_mother_name">५. पिता / माताकोनाम</label>
                <input type="text" class="form-control" id="father_or_mother_name" name="father_mother_name">

                <label class="english-label" style="display: none;" for="husband_or_wife_name">Name of Spouse :</label>
                <label class="nepali-label" for="husband_or_wife_name">पति / पत्नीको नाम:</label>
                <input type="text" class="form-control" id="husband_or_wife_name" name="husband_or_wife_name">

                <label class="english-label" style="display: none;" for="family_count">Family Number :</label>
                <label class="nepali-label" for="family_count">परिवार संख्या :</label>
                <input type="number" class="form-control" id="family_count" name="family_count">
            </div>

            <div class="form-group">
                <label class="english-label" style="display: none;" for="is_literate">6. Educational Qualification: Literate :</label>
                <label class="nepali-label" for="is_literate">६. शैक्षिक योग्यता: साक्षर</label>
                <input type="radio" id="literate" value="literate" name="education">

                <label class="english-label"    style="display: none;" for="plus_two_pass">Ten plus two (+2)</label>
                <label class="nepali-label" for="plus_two_pass">दश जोड दुई (+२)</label>
                <input type="radio" id="plus_two" value="plus_two" name="education">

                <label class="english-label"    style="display: none;" for="bachelors">Graduation</label>
                <label class="nepali-label" for="bachelors">स्नातक</label>
                <input type="radio" id="bachelors" value="bachelors" name="education">

                <label class="english-label"    style="display: none;" for="masters">Master's degree</label>
                <label class="nepali-label" for="masters">स्नातकोत्तर</label>
                <input type="radio" id="masters" value="masters" name="education">

                <label class="english-label"    style="display: none;" for="phd">Ph.D.</label>
                <label class="nepali-label" for="phd">पि.एच.डि.</label>
                <input type="radio" id="phd" value="phd" name="education">

                <label class="english-label"    style="display: none;" for="other_education">Others</label>
                <label class="nepali-label" for="other_education">अन्य</label>
                <input type="radio" id="other_education" value="other_education" name="education">
            </div>

            <div class="form-group">
                <label class="english-label"    style="display: none;" for="religion">7. Religion :</label>
                <label class="nepali-label" for="religion">७. धर्म :</label>
                <input type="text" class="form-control short-input" id="religion" name="religion">

                <label class="english-label checkbox-label" style="display: none;" for="married">Marital Status: Married</label>
                <label class="nepali-label checkbox-label" for="married">वैवाहिक स्थिति :
                    विवाहित</label>
                <input type="radio" id="married" value="married" name="marital_status">

                <label class="english-label checkbox-label" style="display: none;" for="unmarried">Unmarried</label>
                <label class="nepali-label checkbox-label" for="unmarried">अविवाहित</label>
                <input type="radio" id="unmarried" value="unmarried" name="marital_status">

                <label class="english-label checkbox-label" style="display: none;" for="other_marital_status">Others</label>
                <label class="nepali-label checkbox-label" 
                    for="other_marital_status">अन्य</label>
                <input type="radio" id="other_marital_status" value="other_marital_status" name="marital_status">
            </div>

            <div class="form-group">
                <label class="english-label"    style="display: none;" for="baun_caste">8. Caste Group: Khasarya</label>
                <label class="nepali-label" for="baun_caste">८. जातिगत समूह :
                    खसआर्य</label>
                <input type="radio" id="baun_caste" value="baun_caste" name="caste">

                <label class="english-label checkbox-label" style="display: none;" for="aadiwasi_caste">Aadivasi/tribe</label>
                <label class="nepali-label checkbox-label" 
                    for="aadiwasi_caste">आदिवासी/जनजाति</label>
                <input type="radio" id="aadiwasi_caste" value="aadiwasi_caste" name="caste">

                <label class="english-label checkbox-label" style="display: none;" for="dalit_caste">Dalit</label>
                <label class="nepali-label checkbox-label" for="dalit_caste">दलित</label>
                <input type="radio" id="dalit_caste" value="dalit_caste" name="caste">

                <label class="english-label"    style="display: none;" for="madhesi_caste">Madhesi</label>
                <label class="nepali-label" for="madhesi_caste">मधेशी</label>
                <input type="radio" id="madhesi_caste" value="madhesi_caste" name="caste">

                <label class="english-label"    style="display: none;" for="muslim_caste">Muslim</label>
                <label class="nepali-label" for="muslim_caste">मुस्लिम</label>
                <input type="radio" id="muslim_caste" value="muslim_caste" name="caste">

                <label class="english-label"    style="display: none;" for="pichhadieko_kshetra_caste">Backward Region</label>
                <label class="nepali-label" for="pichhadieko_kshetra_caste">पिछडिएको
                    क्षेत्र</label>
                <input type="radio" id="pichhadieko_kshetra_caste" value="pichhadieko_kshetra_caste" name="caste">

                <label class="english-label"    style="display: none;" for="apangata_caste">Disabled</label>
                <label class="nepali-label" for="apangata_caste">अपाङ्गता</label>
                <input type="radio" id="apangata_caste" value="apangata_caste" name="caste">

                <label class="english-label"    style="display: none;" for="other_caste">Others</label>
                <label class="nepali-label" for="other_caste">अन्य</label>
                <input type="radio" id="other_caste" value="other_caste" name="caste">
            </div>

            <div class="form-group">
                <!-- <label class="english-label"    style="display: none;" for="year_joined">9. Year's spent in RPP:</label>
                        <label class="nepali-label" for="year_joined">९. राप्रपामा आवढु भएको साल:</label>
                        <input type="number" class="form-control" id="year_joined" name="year_joined"> -->

                <label class="english-label"    style="display: none;" for="membership_date">If you have taken active membership before this
                    date.-</label>
                <label class="nepali-label" for="membership_date">यस अघि सक्रिय सदस्यता  लिएको भए
                    मिति .-</label>
                <input type="date" class="form-control" id="membership_date" name="membership_date">

                <label class="english-label"    style="display: none;" for="membership_id">Membership no. :</label>
                <label class="nepali-label" for="membership_id">सदस्यता नं. :</label>
                <input type="number" class="form-control" id="membership_id" name="membership_id">
            </div>

            <div class="form-group">
                <label class="english-label"    style="display: none;" for="past_responsibility">10. Past responsibility </label>
                <label class="nepali-label" for="past_responsibility">१०. विगतको
                    जिम्मेवारी</label>
                <input type="text" class="form-control" id="past_responsibility" name="past_responsibility">
            </div>

            <span class="english-label"    style="display: none;" style="font-weight: bold;">11. Experience of working in various
                organizations:</span>
            <span class="nepali-label" style="font-weight: bold; display: none;">११. विभिन्न संस्थामा बसेर काम
                गरेको
                अनुभव :</span>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            <span class="english-label" style="display: none;">No.</span>
                            <span class="nepali-label" >नं.</span>
                        </th>
                        <th>
                            <span class="english-label" style="display: none;" >Organisation name</span>
                            <span class="nepali-label" >संस्थाको नाम</span>
                        </th>
                        <th>
                            <span class="english-label" style="display: none;">Verse</span>
                            <span class="nepali-label" >पद</span>
                        </th>
                        <th>
                            <span class="english-label" style="display: none;" >Years worked</span>
                            <span class="nepali-label" >काम गरेको बर्षहरू</span>
                        </th>
                    </tr>
                </thead>
                <tbody id="experienceTableBody">
                    <tr>
                        <td><label class="english-label"    style="display: none;" for="company1">a.</label>
                            <label class="nepali-label" for="company1">क.</label>
                        </td>
                        <td><input type="text" class="form-control" id="company1" name="company1"></td>
                        <td><input type="text" class="form-control" id="jobtitle1" name="jobtitle1"></td>
                        <td><input type="number" class="form-control" id="worktenure1" name="worktenure1"></td>
                    </tr>
                    <tr>
                        <td><label class="english-label"    style="display: none;" for="company2">b.</label>
                            <label class="nepali-label" for="company2">ख.</label>
                        </td>
                        <td><input type="text" class="form-control" id="company2" name="company2"></td>
                        <td><input type="text" class="form-control" id="jobtitle2" name="jobtitle2"></td>
                        <td><input type="number" class="form-control" id="worktenure2" name="worktenure2"></td>
                    </tr>
                    <tr>
                        <td><label class="english-label"    style="display: none;" for="company3">c.</label>
                            <label class="nepali-label" for="company3">ग.</label>
                        </td>
                        <td><input type="text" class="form-control" id="company3" name="company3"></td>
                        <td><input type="text" class="form-control" id="jobtitle3" name="jobtitle3"></td>
                        <td><input type="number" class="form-control" id="worktenure3" name="worktenure3"></td>
                    </tr>
                    <tr>
                        <td><label class="english-label" style="display: none;" for="company4">d.</label>
                            <label class="nepali-label" for="company4">घ.</label>
                        </td>
                        <td><input type="text" class="form-control" id="company4" name="company4"></td>
                        <td><input type="text" class="form-control" id="jobtitle4" name="jobtitle4"></td>
                        <td><input type="number" class="form-control" id="worktenure4" name="worktenure4"></td>
                    </tr>
                    <tr>
                        <td><label class="english-label"  style="display: none;"  for="company5">e.</label>
                            <label class="nepali-label" for="company5">ङ.</label>
                        </td>
                        <td><input type="text" class="form-control" id="company5" name="company5"></td>
                        <td><input type="text" class="form-control" id="jobtitle5" name="jobtitle5"></td>
                        <td><input type="number" class="form-control" id="worktenure5" name="worktenure5"></td>
                    </tr>
                </tbody>
            </table>

            <div class="form-group">
                <!-- <label class="english-label"    style="display: none;" for="signature_of_approver" class="h5 fw-bold">Signature:</label>
                        <label class="nepali-label" for="signature_of_approver"
                            class="h5 fw-bold">हस्ताक्षर:</label>
                        <input type="file" accept="image/*" id="signature_upload" style="display: none;"
                            name="signature_upload"> 

                        <img src="" alt="" id="signature_preview" style="display: none;">
                        <button id="choose_signature">Choose File</button>
                        <input type="hidden" id="signature_of_approver" name="signature_of_approver"
                            name="signature_of_approver"> -->
            </div>

            <div class="form-group">
                <label class="english-label"    style="display: none;" for="name_of_approver">Name of Recommending Member: </label>
                <label class="nepali-label" for="name_of_approver">सदस्य सिफारिस गर्नेको
                    नाम
                    :</label>
                <input type="text" class="form-control" id="name_of_approver" name="name_of_approver">
            </div>

            <div class="form-group">
                <label class="english-label"    style="display: none;" for="position_of_approver">Position:</label>
                <label class="nepali-label" for="position_of_approver">पद :</label>
                <input type="text" class="form-control" id="position_of_approver" name="position_of_approver">
            </div>

            <!-- <p><span class="english-label"> PS: Active membership application letter along with application
                            introduction
                            document (voter
                            identification
                            letter, citizenship or driver's license).
                            A copy should be attached.</span>
                        <span class="nepali-label" style="display: none;"> पुनश्च:सक्रिय सदस्यता आवेद्न पत्रसाथ आवेदनको
                            परिचय
                            खुल्ने कागजात (मतदातापरिचय
                            पत्र, नागरिकता वा चालक अनुमति पत्र) को
                            प्रतिलिपि संलग्न गर्नु पर्नेछ । </span>
                    </p> -->
            <!-- <p><span class="english-label"> To be filled by District Chairman:</span>
                        <span class="nepali-label" style="display: none;"> जिल्ला अध्यक्षले भर्ने:</span>
                    </p> -->
            <p><span class="english-label" style="display: none;"> According to the constitution of the party Mr/Miss/Mrs </span>
                <span class="nepali-label" > पार्टीको विधान अनुसार माथि उल्लिखित विवरणका
                    श्री:</span>

                <span id="applicant_name_placeholder" style="text-decoration: underline;"></span>

                <span class="english-label" style="display: none;"> of the above description is informed about the recommended procedure for
                    active
                    membership.</span>
                <span class="nepali-label" > लाई सक्रिय सदस्यताको लागि सिफारिस गरिएको
                    व्यहोरा जानकारी गराउन चाहान्छु ।</span>
            </p>

            <div class="form-group flex-column ms-auto w-25">
                <div style="text-align: center; margin-top: 20px;">
                    <button class="btn btn-primary mb-3" id="submit_form" type="submit">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </main>

    <script crossorigin="anonymous" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function emaildefault() {
            document.getElementById("email").defaultValue = "puskarwagle17@gmail.com";
        }
        emaildefault()

        // Update name value
        function updateNamePlaceholder() {
            const nameInput = document.getElementById('name');
            const namePlaceholder = document.getElementById('applicant_name_placeholder');
            const name = nameInput.value;

            namePlaceholder.textContent = name;
        }

        // Add an event listener to the name input field
        const nameInput = document.getElementById('name');
        nameInput.addEventListener('input', updateNamePlaceholder);

    </script>
    
</body>

</html>