<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Replicated Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./public/style.css">
</head>

<body>
    <main class="d-flex flex-column container mt-5 p-2 ps-5 pe-5 bg-white font-weight-bold border">
        
        <button id="login" class="btn btn-success ms-auto mb-2" style="display:none;">Login</button>
        <form action="/submit_membership" method="POST" id="membership_form">
            <div class="form-group">
                <div style="margin-left: auto; width: 150px; height: 200px; border: 1px solid black;">
                    <label for="photo" class="d-flex align-items-center justify-content-center"
                        style="height:100%;width:100%; cursor: pointer;">
                        <div id="imagePreview">फोटो</div>
                    </label>
                    <input type="file" style="visibility: hidden;" class="form-control" id="photo" accept="image/*">
                </div>
            </div>

            <h1 class="text-center mb-4" style="text-decoration: underline;">सक्रिय सदस्यता फारम नयाँ / नविकरण</h1>

            <span style="font-weight: bold;">अध्यक्ष ज्यू,<br>
                <p style="text-indent: 40px;">
                    राष्ट्र, राष्ट्रियता, प्रजातन्त्र, उदारवार र सम्बर्धनवाद प्रति प्रतिबद्ध रही पार्टीको विधानको धारा ६
                    बमोजिम नयाँ
                    <input type="radio" name="membership_type" value="new" id="is_new"> / नवीकरण
                    <input type="radio" name="membership_type" value="renew" id="is_renew">
                    सक्रिय सदस्यता एक वर्षको शुल्क वापत लाग्ने रकम रु. १५०/- (एक सय पचास)
                    <input type="radio" name="membership_duration" id="oneyear" value="oneyear">
                    अथवा चार वर्षको एकमुष्ट शुल्क वापत रू. ५००/- (पाँच सय)
                    <input type="radio" name="membership_duration" id="fouryears" value="fouryears">
                    को नगदी रसिदसमेत संलग्न गरी सक्रिय सदस्यता स्वीकृतिको लागि सादर निवेदन गर्दछु ।
                </p>
            </span>

            <div class="form-group">
                <label for="name">१. नामः</label>
                <input type="text" oninput="updateNamePlaceholder()" class="form-control" id="name" required>
                <label for="birth_date">जन्म मिति :</label>
                <input type="date" class="form-control" id="birth_date">
                <label for="reg_number">ना.प्र.प.नं. :</label>
                <input type="number" class="form-control" id="reg_number">
            </div>


            <div class="form-group">
                <label for="voter_id">२. मतढाता परिचय पत्र नं.:</label>
                <input type="number" class="form-control" id="voter_id">
                <label for="phone">सम्पर्क नं.</label>
                <input type="number" class="form-control" id="phone">
                <label for="email">इमेल:</label>
                <input type="email" class="form-control" id="email" required>
            </div>

            <div class="form-group">
                <label for="perm_province">३. स्थायी ठेगाना : प्रदेशको नाम :</label>
                <input type="text" class="form-control" id="perm_province">
                <label for="perm_district">जिल्ला :</label>
                <input type="text" class="form-control" id="perm_district">
                <label for="perm_constituency">संसदीय निर्वाचन क्षेत्र नं. :</label>
                <input type="text" class="form-control" id="perm_constituency"><br>
            </div>

            <div class="form-group">
                <label for="perm_constituencyB">प्रदेशसभा निर्वाचन क्षेत्र नं. :</label>
                <input type="text" class="form-control" id="perm_constituencyB">
                <label for="perm_palika">न.पा./ गा.पा. :</label>
                <input type="text" class="form-control" id="perm_palika">
                <label for="perm_wardno">वडा नं. :</label>
                <input type="number" class="form-control" id="perm_wardno">
                <label for="perm_voting_center">मतदान केन्द्र :</label>
                <input type="text" class="form-control" id="perm_voting_center">
            </div>

            <div class="form-group">
                <label for="current_province">४. हालको ठेगाना : प्रदेशको नाम : </label>
                <input type="text" class="form-control" id="current_province">
                <label for="current_district">जिल्ला :</label>
                <input type="text" class="form-control" id="current_district">
                <label for="current_constituency">संसदीय निर्वाचन क्षेत्र नं. :</label>
                <input type="text" class="form-control" id="current_constituency">
            </div>

            <div class="form-group">
                <label for="current_constituencyB">प्रदेशसभा निर्वाचन क्षेत्र नं. :</label>
                <input type="text" class="form-control" id="current_constituencyB">
                <label for="current_palika">न.पा./ गा.पा. :</label>
                <input type="text" class="form-control" id="current_palika">
                <label for="current_wardno">वडा नं. :</label>
                <input type="number" class="form-control" id="current_wardno">
                <label for="current_voting_center">मतदान केन्द्र :</label>
                <input type="text" class="form-control" id="current_voting_center">
            </div>

            <div class="form-group">
                <label for="father_mother_name">५. पिता / माताको नाम</label>
                <input type="text" class="form-control" id="father_mother_name">
                <label for="husband_or_wife_name">पति / पत्नीको नाम :</label>
                <input type="text" class="form-control" id="husband_or_wife_name">
                <label for="family_count">परिवार संख्या :</label>
                <input type="number" class="form-control" id="family_count">
            </div>

            <div class="form-group">
                <label>६. शैक्षिक योग्यता:</label>
                <br>
                <input type="radio" name="education" id="literate" value="literate">
                <label for="literate">साक्षर</label>
                <input type="radio" name="education" id="plus_two" value="plus_two">
                <label for="plus_two">दश जोड दुई (+२)</label>
                <input type="radio" name="education" id="bachelors" value="bachelors">
                <label for="bachelors">स्नातक</label>
                <input type="radio" name="education" id="masters" value="masters">
                <label for="masters">स्नातकोत्तर</label>
                <input type="radio" name="education" id="phd" value="phd">
                <label for="phd">पि.एच.डि.</label>
                <input type="radio" name="education" id="other_education" value="other">
                <label for="other_education">अन्य</label>
            </div>

            <div class="form-group">
                <label for="religion">७. धर्म :</label>
                <input type="text" class="form-control" id="religion">
                <label class="checkbox-label" for="married">वैवाहिक स्थिति : विवाहित</label>
                <input type="radio" name="marital_status" id="married" value="married">

                <label class="checkbox-label" for="unmarried">अविवाहित</label>
                <input type="radio" name="marital_status" id="unmarried" value="unmarried">

                <label class="checkbox-label" for="other_marital_status">अन्य</label>
                <input type="radio" name="marital_status" id="other_marital_status" value="other">

            </div>

            <div class="form-group">
                <label>८. जातिगत समूह :</label>
                <br>
                <input type="radio" name="caste" id="baun_caste" value="baun_caste">
                <label class="checkbox-label" for="baun_caste">खसआर्य</label>
                <input type="radio" name="caste" id="aadiwasi_caste" value="aadiwasi_caste">
                <label class="checkbox-label" for="aadiwasi_caste">आदिवासी/जनजाति</label>
                <input type="radio" name="caste" id="dalit_caste" value="dalit_caste">
                <label class="checkbox-label" for="dalit_caste">ढलित</label>
                <input type="radio" name="caste" id="madhesi_caste" value="madhesi_caste">
                <label for="madhesi_caste">मधेशी</label>
                <input type="radio" name="caste" id="muslim_caste" value="muslim_caste">
                <label for="muslim_caste">मुस्लिम</label>
                <input type="radio" name="caste" id="pichhadieko_kshetra_caste" value="pichhadieko_kshetra_caste">
                <label for="pichhadieko_kshetra_caste">पिछडिएको क्षेत्र</label>
                <input type="radio" name="caste" id="apangata_caste" value="apangata_caste">
                <label for="apangata_caste">अपाङ्गता</label>
                <input type="radio" name="caste" id="other_caste" value="other_caste">
                <label for="other_caste">अन्य</label>
            </div>

            <div class="form-group">
                <label for="year_joined">९. राप्रपामा आवढु भएको साल :</label>
                <input type="number" class="form-control" id="year_joined">
                <label for="membership_date">यस अघि सक्रिय सढस्यता लिएको भए मिति .-</label>
                <input type="date" class="form-control" id="membership_date">
                <label for="membership_id">सढस्यता नं. :</label>
                <input type="number" class="form-control" id="membership_id">
            </div>

            <div class="form-group">
                <label for="past_responsibility">१०. विगतको जिम्मेवारी</label>
                <input type="text" class="form-control" id="past_responsibility">
            </div>

            <table class="table table-bordered">
                <span style="font-weight: bold;">११. विभिन्न संस्थामा बसेर काम गरेको अनुभव :</span>
                <thead>
                    <tr>
                        <th>नं.</th>
                        <th>संस्थाको नाम</th>
                        <th>पढ</th>
                        <th>काम गरेको साल</th>
                    </tr>
                </thead>
                <tbody id="experienceTableBody">
                    <tr>
                        <td><label for="company1">क.</label></td>
                        <td><input type="text" class="form-control" id="company1"></td>
                        <td><input type="text" class="form-control" id="jobtitle1"></td>
                        <td><input type="number" class="form-control" id="worktenure1"></td>
                    </tr>
                    <tr>
                        <td><label for="company2">ख.</label></td>
                        <td><input type="text" class="form-control" id="company2"></td>
                        <td><input type="text" class="form-control" id="jobtitle2"></td>
                        <td><input type="number" class="form-control" id="worktenure2"></td>
                    </tr>
                    <tr>
                        <td><label for="company3">ग.</label></td>
                        <td><input type="text" class="form-control" id="company3"></td>
                        <td><input type="text" class="form-control" id="jobtitle3"></td>
                        <td><input type="number" class="form-control" id="worktenure3"></td>
                    </tr>
                    <tr>
                        <td><label for="company4">घ.</label></td>
                        <td><input type="text" class="form-control" id="company4"></td>
                        <td><input type="text" class="form-control" id="jobtitle4"></td>
                        <td><input type="number" class="form-control" id="worktenure4"></td>
                    </tr>
                    <tr>
                        <td><label for="company5">ङ.</label></td>
                        <td><input type="text" class="form-control" id="company5"></td>
                        <td><input type="text" class="form-control" id="jobtitle5"></td>
                        <td><input type="number" class="form-control" id="worktenure5"></td>
                    </tr>
                </tbody>
            </table>

            <div class="form-group">
                <label for="signature_of_approver">हस्ताक्षर :</label>
                <input type="text" class="form-control" id="signature_of_approver">
            </div>
            <div class="form-group">
                <label for="name_of_approver">सदस्य सिफारिस गर्नेको नाम :</label>
                <input type="text" class="form-control" id="name_of_approver">
            </div>
            <div class="form-group">
                <label for="position_of_approver">पद :</label>
                <input type="text" class="form-control" id="position_of_approver">
            </div>

            <div class="form-group">
                <label for="signature_of_applicant">आवेद्नकर्ताको हस्ताक्षर</label>
                <input type="text" class="form-control" id="signature_of_applicant">
                <label for="application_date">मितिः</label>
                <input type="date" class="form-control" id="application_date">
            </div>

            <p>पुनश्च सक्रिय सदस्यता आवेद्न पत्रसाथ आवेदनको परिचय खुल्ने कागजात (मतढातापरिचय
                पत्र, नागरिकता वा चालक अनुमति पत्र) को
                प्रतिलिपि संलग्न गर्नु पर्नेछ ।</p>

            <p>जिल्ला अध्यक्षले मर्ने</p>
            <p id="namePlaceholder">पार्टीको विधान अनुसार माथि उल्लिखित विवरणका श्री: <span id="nameValue"></span>
                लाई सक्रिय सदस्यताको लागि सिफारिस गरिएको व्यहोरा जानकारी गराउन चाहान्छु ।
            </p>

            <div class="form-group">
                <p>जिल्ला अध्यक्ष वा अधिकार प्राप्त अधिकारी :</p>
                <label for="district_president_name">नाम :</label>
                <input type="text" class="form-control" id="district_president_name">
                <label for="district_president_signature">हस्ताक्षर :</label>
                <input type="text" class="form-control" id="district_president_signature">
                <label for="district_president_stamp">छाप :</label>
                <input type="text" class="form-control" id="district_president_stamp">
            </div>
            <button type="submit" id="submit_form" class="btn btn-primary mb-3">Submit</button>
        </form>
    </main>






    <!-- <div class="column-reverse">
        <img src="./public/images/raprapa.jpg" width="1000" alt="">
    </div> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="./public/script.js"></script>
    <script>
        function emaildefault() {
            document.getElementById("email").defaultValue = "puskarwagle17@gmail.com";
        }
        emaildefault()
    </script>
</body>

</html>